<!--
<form action="/users" method="post" accept-charset="utf-8">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="email">
        Email:
        <input type="email" id='email' name='user[email]'>
    </label>
    <label for="username">
        Username:
        <input type="text" id='username' name='user[username]'>
    </label>
    <label for="password">
        Password:
        <input type="password" id='password' name='user[password]'>
    </label>
    <button type='submit'>Submit</button>
</form>
-->

<%= form_tag("/users", method: "post") do %>
    <%= label_tag "email", "Email:" %>
    <%= text_field_tag "email" %>
    <%= label_tag "username", "Username:" %>
    <%= text_field_tag "username" %>
    <%= label_tag "password" %>
    <%= password_field_tag "password" %>
    <%= button_tag "Submit", type: "submit" %>
<% end %>


